@using TroyLeeMVCEF.Model.Entities
  @{
      Layout = null;
      List<Menu> menus = ViewBag.Menus;
  }
<ul id="menu-menu-1" class="menu">
    @foreach (var menu in menus.Where(a => a.ParentID == Guid.Empty))
    {
        <li><a href="@menu.Url"><span>@menu.MenuName</span></a>
        </li>
    }
</ul>