<div class="substrate">
    <h2>
        Thông tin nóng</h2>
    <img src="/images/hotline-1.jpg" style="width: 260px; margin: 10px 0;" alt="">
    <ul class="main-info-list">
        <li>Địa chỉ<span>KP 5B, P. Tân Biên, TP. Biên Hòa, Đồng Nai</span><div class="floatlimit">
        </div>
        </li>
        <li>Điện thoại<span>(061) 3 818 333 hoặc 3 828 333</span><div class="floatlimit">
        </div>
        </li>
        <li>Fax<span>(061) 3 818 333</span><div class="floatlimit">
        </div>
        </li>
        <li>Email<span>info@aucobienhoa.com.vn</span><div class="floatlimit">
        </div>
        </li>
        <li>Website<span>www.aucobienhoa.com.vn</span><div class="floatlimit">
        </div>
        </li>
        <li><img src="/images/emergency.png" style="width: 30px; margin: 0px 20px;" alt=""><span style="color: red; font-size: 16px">(061) 38 12345</span><div class="floatlimit">
        </div>
        </li>
    </ul>
    <div class="paper-clip">
    </div>
</div>
