<div id="text-3" class="widget-container widget_text_box"><h3 class="widget-title">Thông tin nóng</h3>			
    <div class="textwidgetbox"><p><b>Địa chỉ</b> : KP 5B, P. Tân Biên, TP. Biên Hòa, Đồng Nai</p>
        <p><b>Điện thoại</b>: (84-61) 3818.333 hoặc 3828. 333</p>
        <p><b>Fax</b>: 84-61-3 822345</p>
        <p><b>Email</b>: info@aucobienhoa.com.vn</p>
        <p><b>Website</b>: www.aucobienhoa.com.vn</p>
        <p><b>Cấp cứu</b> : (84-61) 3812. 345</p>
    </div>
</div>  